* {
  margin: 0;
  padding: 0;
}

nav {
  position: absolute;
  width: 250px;
  height: 100vh;
  background:#ba68c8;
}
h1 {
  position: absolute;
  margin: 20px 0 0 60px;
}
.menu {
  position: absolute;
  margin: 80px 0px 0px 15px;
  font-size: 1.1rem;
}
.menu li {
  list-style-type: none;
  padding: 30px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.329);
}
.menu li a {
  text-decoration: none;
  color: black;
}
.menu li span {
  margin: 0px 40px 0px 0px;
  font-size: 1.3rem;
}
nav .menu li:hover a {
  color: #ec407a;
}

